<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h3 class="callout__heading">Ready to Get Started?</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
        laboriosam placeat culpa voluptate magni earum accusantium beatae?
        Mollitia, voluptatem? Suscipit iure accusantium repellendus natus
        consectetur quidem nobis cumque officiis obcaecati!
      </p>
    </div>
    <button href="#" class="btn btn--long btn--secondary">Get Started</button>
  </div>
</div>
