<div style="width: 33%; padding: 5rem; display: inline-block">
  <div class="card card--primary">
    <header class="card--header">Card Header</header>
    <div class="card--body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ratione
      dignissimos modi suscipit earum commodi minima corrupti nam a velit atque
      distinctio nobis accusamus. Sequi fugit dolorem eaque voluptates quam.
    </div>
  </div>
</div>
<div style="width: 33%; padding: 5rem; display: inline-block">
  <div class="card card--secondary">
    <header class="card--header">Card Header</header>
    <div class="card--body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ratione
      dignissimos modi suscipit earum commodi minima corrupti nam a velit atque
      distinctio nobis accusamus. Sequi fugit dolorem eaque voluptates quam.
    </div>
  </div>
</div>
<div style="width: 33%; padding: 5rem; display: inline-block">
  <div class="card card--primary">
    <header class="card--header">Card Header</header>
    <div class="card--body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ratione
      dignissimos modi suscipit earum commodi minima corrupti nam a velit atque
      distinctio nobis accusamus. Sequi fugit dolorem eaque voluptates quam.
    </div>
  </div>
</div>
