<div class="block container block-domain">
  <header class="block__header">
    <h2>Starting at ₹749 per Month</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, tenetur
    doloribus quam nostrum asperiores sint pariatur aut nam. Aut, delectus!
  </p>
  <div class="input-group block-domain">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon-primary">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__price">
    <li class="badge badge--secondary">.com ₹449</li>
    <li>.org ₹849</li>
    <li>.info ₹359</li>
    <li>.net ₹749</li>
    <li>.co ₹849</li>
    <li>.in ₹749</li>
  </ul>
</div>
