<section class="block container block-plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--secondary">
        <div class="card__header">
          <h3 class="plan__name card__style">Personal</h3>
          <span class="plan__price card__style">₹1050</span>
          <span class="plan__duration card__style">/mo</span>
          <span class="badge badge--secondary badge--small card__style"
            >10% OFF</span
          >
          <span class="plan__desc card__style">Easy Start On The Cloud J</span>
        </div>
        <div class="card__body">
          <ul class="list list--tickmark">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Sortage</li>
            <li class="list__item">2 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="plan plan--popular">
      <div class="card card--primary">
        <div class="card__header">
          <h3 class="plan__name card__style">Premium</h3>
          <span class="plan__price card__style">₹1250</span>
          <span class="plan__duration card__style">/mo</span>
          <span class="badge badge--primary badge--small card__style"
            >10% OFF</span
          >
          <span class="plan__desc card__style">Easy Start On The Cloud J</span>
        </div>
        <div class="card__body">
          <ul class="list list--tickmark">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Sortage</li>
            <li class="list__item">2 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>

    <div class="plan">
      <div class="card card--secondary">
        <div class="card__header">
          <h3 class="plan__name card__style">Business</h3>
          <span class="plan__price card__style">₹1550</span>
          <span class="plan__duration card__style">/mo</span>
          <span class="badge badge--secondary badge--small card__style"
            >10% OFF</span
          >
          <span class="plan__desc card__style">Easy Start On The Cloud J</span>
        </div>
        <div class="card__body">
          <ul class="list list--tickmark">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Sortage</li>
            <li class="list__item">2 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
